#![enable(implicit_some)]
(
    address: "127.0.0.1:6600", // MPD server address
    enable_mouse: true,
    display: (
        progress_bar_open: "┫",
        progress_bar_close: "┣",
        progress_bar_full: "█",
        progress_bar_empty: "░",
    ),
)
