* {
    border: none;
    border-radius: 5px;
    font-family: "FantasqueSansM Nerd Font Mono";
    font-size: 0.9rem;
    min-height: 0;
}
window#waybar {
    background: rgba(0, 0, 0, 0);
}


#window,
#clock,
#backlight,
#battery,
#workspaces,
#pulseaudio,
#network {
    
    margin: 5px;				/* spacing b/w modules */
    padding: 2px 8px 2px;			/* spacing around text inside modules */
    background-color: rgba(30, 30, 30, 0.4);
    color: white;
    text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.7);
    border: 1px solid rgba(255, 255, 255, 0.6);
}
#window {
    color: #99ef99;
    /* color: #C9AFEE; */
}

